<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Admin Dashboard</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}" />
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header class="admin-header">
        <img class="admin-logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="BlissMake Logo">
        <h1 class="admin-header-content">Admin Dashboard</h1>
        <div class="user-actions">
            <div class="icons">
                <a href="{{ url_for('admin.logout') }}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </header>
    <main class="admin-main">
        <div class="dashboard-container">
            <h2>Welcome, Admin!</h2>
            <p>Manage products from here.</p>
            {% with messages = get_flashed_messages() %}
                {% if messages %}
                    <div class="admin-flash-messages">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}

            <section class="section-featured-products">
                <h2>Products</h2>
                <div class="admin-product-list">
                    {% for product in products %}
                        <div class="admin-product-card">
                            <img src="{{ url_for('static', filename='img/'+product['product_img']) }}" alt="{{ product['product_name']}}" style="width: 200px; height: 200px;">
                            <h3>{{ product['product_name'] }}</h3>
                            <p class="price">Rs. {{ product['product_price'] }}</p>
                            <div class="admin-actions">
                                <a href="{{ url_for('admin.edit_product', product_id=product['product_id'], username=username, password=password) }}">
                                    <button class="edit-btn"><i class="fas fa-edit"></i></button>
                                </a>
                                <a href="{{ url_for('admin.delete_product', product_id=product['product_id']) }}">
                                    <button class="delete-btn"><i class="fas fa-trash-alt"></i></button>
                                </a>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </section>
            <div class="add-product-form">
                <h3 style="text-align: center;">Add New Product</h3>
                <form method="POST" action="{{ url_for('admin.add_product') }}">
                    <input type="text" name="product_id" placeholder="Product ID" required>
                    <input type="text" name="product_name" placeholder="Product Name" required>
                    <input type="number" name="product_price" placeholder="Product Price" required>
                    <input type="file" name="product_img" placeholder="Product Image Filename" required>
                    <button type="submit">Add Product</button>
                </form>
            </div>
        </div>
        <br>
        <div class="logout-wrapper">
            <a href="{{ url_for('admin.logout') }}">
                <button class="logout-btn">Logout</button>
            </a>
        </div>
    </main>
</body>
</html>
