<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment - BlissMake Creations</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <header>
        <a href="{{ url_for('blissmake.home', username=username) }}">
            <img class="logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="BlissMake Logo">
        </a>
        <div class="header-center">BlissMake Creations</div>
        <div class="user-actions">
            <div class="username">Welcome, {{ username }}</div>
            <div class="icons">
                <a href="{{ url_for('blissmake.get_cart', username=username) }}"><i class="fas fa-shopping-cart"></i></a>
                <a href="{{ url_for('blissmake.get_favorite', username=username )}}"><i class="fas fa-heart"></i></a>
                <a href="#"><i class="fas fa-user"></i></a>
                <a href="{{ url_for('blissmake.logout', username=username)}}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </header>

    <main>
        <br><br>
        <section class="payment-detail">
            <h2>Payment Summary</h2>
            <div class="cart-items-container">
                {% for item in cart_products %}
                <div class="cart-item-card">
                    <img src="{{ url_for('static', filename='img/'+item['product_img']) }}" alt="{{ item['product_name'] }}">
                    <div class="item-details">
                        <h3>{{ item['product_name'] }}</h3>
                        <h3>Rs. {{ item['product_price'] }}</h3>
                        <p>Quantity: {{ item['quantity'] }}</p>
                    </div>
                </div>
                {% endfor %}
            </div>
            <div class="total">Total Price : Rs. {{ total_price }}</div>
            <h2>Scan QR Code to Proceed</h2>
            <div class="qr-section">
                <img src="{{ url_for('static', filename=qr_image.split('static/')[-1]) }}" alt="Payment QR Code" class="qr-img">
            </div>
        </section>        
    </main>

    <footer>
        <p>&copy; 2024 BlissMake Creations. All rights reserved.</p>
        <div>
            <a href="https://www.instagram.com/blissmake_?igsh=MWZpM29lOHo2MWxvaA==" target="_blank">
                <i class="fab fa-instagram"></i> Follow us on Instagram
            </a>
        </div>
    </footer>
</body>
</html>