<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Shopping Cart - BlissMake Creations</title>
    <link rel="icon" href="{{ url_for('static', filename='img/logo.png') }}">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <header>
        <a href="{{ url_for('blissmake.home', username=username) }}">
            <img class="logo-img" src="{{ url_for('static', filename='img/logo.png') }}" alt="BlissMake Logo">
        </a>
        <div class="header-center">BlissMake Creations</div>
        <div class="user-actions">
            <div class="username">Welcome, {{ username }}</div>
            <div class="icons">
                <a href="{{ url_for('blissmake.get_cart', username=username) }}"><i class="fas fa-shopping-cart"></i></a>
                <a href="{{ url_for('blissmake.get_favorite', username=username) }}"><i class="fas fa-heart"></i></a>
                <a href="{{ url_for('blissmake.profile', username=username) }}"><i class="fas fa-user"></i></a>
                <a href="{{ url_for('blissmake.logout', username=username) }}"><i class="fas fa-sign-out-alt"></i></a>
            </div>
        </div>
    </header>

    <main>
        <section class="cart-detail">
            {% with messages = get_flashed_messages(with_categories=true) %}
                {% if messages %}
                    <div class="flash-messages">
                        {% for category, message in messages %}
                            <div class="flash-message {{ category }}">{{ message }}</div>
                        {% endfor %}
                    </div>
                {% endif %}
            {% endwith %}
            {% if message %}
            <p class="error-message">{{ message }}</p>
            {% elif cart_products %}
                <h2>Your Cart Items</h2>
                <div class="cart-items-container">
                    {% for item in cart_products %}
                    <div class="user-cart-item-card">
                        <img src="{{ url_for('static', filename='img/'+item['product_img']) }}" alt="{{ item['product_name'] }}">
                        <div class="item-details">
                            <h3>{{ item['product_name'] }}</h3>
                            <h3>Rs. {{ item['product_price'] }} /-</h3>
                            <p style="display: none;">Product ID: {{ item['product_id'] }}</p>
                            <div class="quantity-control">
                                <form action="{{ url_for('blissmake.update_quantity', product_id=item['product_id'], action='decrease', username=username) }}" method="post" style="display: inline;">
                                    <button type="submit" class="quantity-btn">-</button>
                                </form>
                                <span>{{ item['quantity'] }}</span>
                                <form action="{{ url_for('blissmake.update_quantity', product_id=item['product_id'], action='increase', username=username) }}" method="post" style="display: inline;">
                                    <button type="submit" class="quantity-btn">+</button>
                                </form>
                            </div>
                        </div>
                        <form action="{{ url_for('blissmake.delete_from_cart', product_id=item['product_id'], quantity=item['quantity'], username=username) }}" method="post">
                            <button type="submit" class="delete-icon">
                                <i class="fas fa-trash-alt"></i>
                            </button>
                        </form>
                    </div>
                    {% endfor %}
                </div>
                <div class="total">Total Items: {{ cart_products|length }}</div>
                <div class="total">Total Price : {{ total_price }}</div>
                <a href="{{ url_for('blissmake.home', username=username) }}" class="user-cart-back-link">Continue Shopping</a>
                <a href="{{ url_for('blissmake.edit_address_page', username=username) }}" class="proceed-btn">Proceed to Buy</a>
            {% else %}
                <div class="alert alert-error">Your cart is empty!</div>
                <a href="{{ url_for('blissmake.home', username=username) }}" class="user-cart-back-link">Continue Shopping</a>
            {% endif %}
        </section>
    </main>

    <footer>
        <p>&copy; 2024 BlissMake Creations. All rights reserved.</p>
        <div>
            <a href="https://www.instagram.com/blissmake_?igsh=MWZpM29lOHo2MWxvaA==" target="_blank">
                <i class="fab fa-instagram"></i> Follow us on Instagram
            </a>
        </div>
    </footer>
</body>
</html>